In [22]:
import pandas as pd
import numpy as np
data=pd.read_csv('GOOGLE.csv')

In [23]:
df=data.copy()

In [24]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-21,14.531532,14.615717,14.252827,14.520075,14.520075,253253712
1,2010-01-22,14.059800,14.211731,13.321567,13.698903,13.698903,273035583
2,2010-01-25,13.613722,13.695665,13.337757,13.449588,13.449588,177458675
3,2010-01-26,13.399027,13.688691,13.357184,13.509862,13.509862,174873019
4,2010-01-27,13.481219,13.640123,13.332775,13.501892,13.501892,159170382

In [25]:
df.shape

(3483, 7)

In [28]:
change = np.array([])

for i in range(1,3483):
    see=((df.iloc[i]["Close"]-df.iloc[i-1]["Close"])/df.iloc[i-1]["Close"])*100
    change=np.append(change,see)
change=np.insert(change,0,-100)
df["change"]=change.copy()

In [29]:
df.drop(0,inplace=True)
df = df.reset_index(drop=True)

In [30]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,change
0,2010-01-22,14.059800,14.211731,13.321567,13.698903,13.698903,273035583,-5.655425
1,2010-01-25,13.613722,13.695665,13.337757,13.449588,13.449588,177458675,-1.819963
2,2010-01-26,13.399027,13.688691,13.357184,13.509862,13.509862,174873019,0.448148
3,2010-01-27,13.481219,13.640123,13.332775,13.501892,13.501892,159170382,-0.058994
4,2010-01-28,13.561418,13.623934,13.215465,13.307371,13.307371,129648138,-1.440694

In [31]:
df.shape

(3482, 8)

In [33]:
win=0
lose=0
target=0
winp=0
losep=0
if(df.iloc[0]["change"]>0):
    target=1
else:
    target=0
count=0
arr=[]
for i in range(1,3482):
    count=count+1
    if(count==251):
        see=[winp,losep]
        arr.append(see)
        count=0
        winp=0
        losep=0
    if(target==0):
        if(df.iloc[i]["change"]>0):
            target=1
    else:
        if(df.iloc[i]["change"]>0):
            win=win+1
            winp=winp+df.iloc[i]["change"]
            target=1
        else:
            lose=lose+1
            losep=losep+df.iloc[i]["change"]
            target=0
print("Number of days you won: ",win)
print("Number of days you lose: ",lose)
print("Won amount: ",winp)
print("Loss amount: ",losep)
print(arr)
for i in arr:
    print(i[0]+i[1])

Number of days you won:  963
Number of days you lose:  870
Won amount:  95.79341598939433
Loss amount:  -73.39743346397786
[[62.28486837912023, -66.63578547214767], [82.43574397454377, -80.1372820891806], [66.04684933852057, -65.05871953369935], [62.08827122208227, -39.07217434326782], [60.93004673698694, -67.21041924467708], [87.55662863241591, -59.25265080096626], [58.55134583864123, -57.0961792346173], [58.826492931959926, -38.2726505395503], [76.66023774445195, -72.5874346934284], [73.35047973775389, -53.3515066405978], [95.26516372126562, -131.02850683597853], [93.69751488582261, -64.79862965542029], [90.84280284582816, -127.56784813021649]]
-4.350917093027441
2.2984618853631673
0.9881298048212273
23.01609687881445
-6.280372507690146
28.30397783144965
1.4551666040239297
20.553842392409628
4.072803051023541
19.99897309715609
-35.76334311471291
28.89888523040233
-36.72504528438833

In [34]:
win=0
lose=0
winp=0
losep=0
arr=[]
count=0
for i in range(0,3481):
    count=count+1
    if(count==251):
        arr.append([winp,losep])
        winp=0
        losep=0
        count=0
    if(df.iloc[i]["change"]>0):
        win=win+1
        winp=winp+df.iloc[i]["change"]
    else:
        lose=lose+1
        losep=losep+df.iloc[i]["change"]
for i in arr:
    print(i[0]+i[1])

13.070472490691941
2.6488889005410954
15.46017003395825
49.70309186975892
-11.329510664195794
38.11127812819868
16.14885842747877
32.308933894898345
1.1218123169776675
31.03322728947748
30.391691844215075
46.0953540918933
-38.721308346457505