In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv('GOOGLE.csv')

In [2]:
df=data.copy()

In [3]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-21,14.531532,14.615717,14.252827,14.520075,14.520075,253253712
1,2010-01-22,14.059800,14.211731,13.321567,13.698903,13.698903,273035583
2,2010-01-25,13.613722,13.695665,13.337757,13.449588,13.449588,177458675
3,2010-01-26,13.399027,13.688691,13.357184,13.509862,13.509862,174873019
4,2010-01-27,13.481219,13.640123,13.332775,13.501892,13.501892,159170382

In [4]:
df.shape

(3483, 7)

In [5]:
change = np.array([])

for i in range(1,3483):
    see=((df.iloc[i]["Close"]-df.iloc[i-1]["Close"])/df.iloc[i-1]["Close"])*100
    change=np.append(change,see)
change=np.insert(change,0,-100)
df["change"]=change.copy()

In [6]:
df.drop(0,inplace=True)
df = df.reset_index(drop=True)

In [7]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,change
0,2010-01-22,14.059800,14.211731,13.321567,13.698903,13.698903,273035583,-5.655425
1,2010-01-25,13.613722,13.695665,13.337757,13.449588,13.449588,177458675,-1.819963
2,2010-01-26,13.399027,13.688691,13.357184,13.509862,13.509862,174873019,0.448148
3,2010-01-27,13.481219,13.640123,13.332775,13.501892,13.501892,159170382,-0.058994
4,2010-01-28,13.561418,13.623934,13.215465,13.307371,13.307371,129648138,-1.440694

In [8]:
df.shape

(3482, 8)

In [33]:
win=0
lose=0
target=0
winp=0
losep=0
if(df.iloc[0]["change"]>0):
    target=1
else:
    target=0
count=0
arr=[]
for i in range(1,3482):
    count=count+1
    if(count==251):
        see=[winp,losep]
        arr.append(see)
        count=0
        winp=0
        losep=0
    if(target==0):
        if(df.iloc[i]["change"]>0):
            target=1
    else:
        if(df.iloc[i]["change"]>0):
            win=win+1
            winp=winp+df.iloc[i]["change"]
            target=1
        else:
            lose=lose+1
            losep=losep+df.iloc[i]["change"]
            target=0
print("Number of days you won: ",win)
print("Number of days you lose: ",lose)
print("Won amount: ",winp)
print("Loss amount: ",losep)
print(arr)
for i in arr:
    print(i[0]+i[1])

Number of days you won:  963
Number of days you lose:  870
Won amount:  95.79341598939433
Loss amount:  -73.39743346397786
[[62.28486837912023, -66.63578547214767], [82.43574397454377, -80.1372820891806], [66.04684933852057, -65.05871953369935], [62.08827122208227, -39.07217434326782], [60.93004673698694, -67.21041924467708], [87.55662863241591, -59.25265080096626], [58.55134583864123, -57.0961792346173], [58.826492931959926, -38.2726505395503], [76.66023774445195, -72.5874346934284], [73.35047973775389, -53.3515066405978], [95.26516372126562, -131.02850683597853], [93.69751488582261, -64.79862965542029], [90.84280284582816, -127.56784813021649]]
-4.350917093027441
2.2984618853631673
0.9881298048212273
23.01609687881445
-6.280372507690146
28.30397783144965
1.4551666040239297
20.553842392409628
4.072803051023541
19.99897309715609
-35.76334311471291
28.89888523040233
-36.72504528438833

In [9]:
win=0
lose=0
winp=0
losep=0
arr=[]
count=0
for i in range(0,3481):
    count=count+1
    if(count==251):
        arr.append([winp,losep])
        winp=0
        losep=0
        count=0
    if(df.iloc[i]["change"]>0):
        win=win+1
        winp=winp+df.iloc[i]["change"]
    else:
        lose=lose+1
        losep=losep+df.iloc[i]["change"]
for i in arr:
    print(i[0]+i[1])

13.070472490691941
2.6488889005410954
15.46017003395825
49.70309186975892
-11.329510664195794
38.11127812819868
16.14885842747877
32.308933894898345
1.1218123169776675
31.03322728947748
30.391691844215075
46.0953540918933
-38.721308346457505

In [10]:
count=0
arr=[]
start=100000
loss=0
for i in range(0,3481):
    count=count+1
    if(count==251):
        arr.append([start,loss])
        start=100000
        count=0
        loss=0
    if(df.iloc[i]["change"]>0):
        rate=((10*df.iloc[i]["change"])/(0.7))
        if(start>=100000):
            add=(100000/100)*rate
            start=start+add
        else:
            extra=100000-start
            loss=loss+extra
            start=100000
            add=(100000/100)*rate
            start=start+add
    else:
        rate=((10*df.iloc[i]["change"])/(0.7))
        if(start>=100000):
            add=(100000/100)*rate
            start=start+add
        else:
            extra=100000-start
            loss=loss+extra
            start=100000
            add=(100000/100)*rate
            start=start+add
profit=0
arr.append([start,loss])
profit=0
maxi=-1
count=0
mutualf=[]
for i in arr:
    count=count+1
    see1=(i[0]/100000)-(i[1]/100000)
    if(see1>0):
        mutualf.append([see1,count])
    if(profit-100000>0):
        profit=profit+i[0]-i[1]
    else:
        profit=profit+i[0]-i[1]-100000
    if(profit>=500000):
        print(count)
    maxi=max(maxi,(i[1]/100000)+1)
    print("start: ",i[0])
    print("loss: ",i[1],i[1]/100000)
    print(i[0]/100000,'seeme')
print(profit)
print(maxi)
print('break')
r=10
sum=profit
for i in mutualf:
    years=22.5-i[1]
    see3=(1.12**years)
    add=i[0]*see3
    temp=add
    add=add*100000
    sum=sum+add
    print(temp,add,sum-58,i[1],'seeme')
#     print(sum)
print(sum)

start:  676414.0262209462
loss:  389692.9906396326 3.896929906396326
6.764140262209462 seeme
start:  548301.9944619061
loss:  410460.72445417603 4.104607244541761
5.483019944619062 seeme
3
start:  471047.0218025068
loss:  150187.44988881852 1.5018744988881851
4.710470218025068 seeme
4
start:  834776.7747463781
loss:  24732.605178393424 0.24732605178393424
8.34776774746378 seeme
5
start:  124031.52241574238
loss:  185881.67476139683 1.8588167476139683
1.2403152241574238 seeme
6
start:  644446.8304028382
loss:  0 0.0
6.444468304028382 seeme
7
start:  380587.96494183294
loss:  49889.987406422326 0.49889987406422326
3.8058796494183293 seeme
8
start:  582283.7873549324
loss:  20727.588856384056 0.20727588856384055
5.822837873549324 seeme
9
start:  246620.60038019347
loss:  130594.71013765551 1.3059471013765551
2.466206003801935 seeme
10
start:  577760.8859574377
loss:  34429.06753632994 0.3442906753632994
5.777608859574377 seeme
11
start:  913988.406938258
loss:  379821.3805923295 3.798213805923295
9.13988406938258 seeme
12
start:  799300.7446587475
loss:  40795.68620312888 0.4079568620312888
7.993007446587475 seeme
13
start:  170980.94713599994
loss:  624142.4949425353 6.241424949425353
1.7098094713599994 seeme
14
start:  813722.9082439446
loss:  0 0.0
8.137229082439447 seeme
5242908.055064461
7.241424949425353
break
32.78287546963182 3278287.546963182 8521137.602027643 1 seeme
14.07177008206646 1407177.008206646 9928314.61023429 2 seeme
29.24599772017848 2924599.7720178477 12852914.382252138 3 seeme
65.92378280254201 6592378.280254201 19445292.66250634 4 seeme
41.81041382696119 4181041.3826961187 23626334.045202456 6 seeme
19.156267382296424 1915626.7382296424 25541960.7834321 7 seeme
29.043874675086276 2904387.4675086276 28446348.25094073 8 seeme
5.357944558289927 535794.4558289926 28982142.70676972 9 seeme
22.402187207725778 2240218.720772578 31222361.4275423 10 seeme
19.664564673470384 1966456.4673470384 33188817.894889336 11 seeme
24.9314604419648 2493146.04419648 35681963.93908582 12 seeme
21.322088189704992 2132208.818970499 37814172.75805632 14 seeme
37814230.75805632