In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv('NASDAQ.csv')

In [2]:
df=data.copy()

In [3]:
df.head()

         Date  Close/Last      Open      High       Low
0  11/20/2023    14284.53  14134.75  14309.80  14134.20
1  11/17/2023    14125.48  14101.44  14154.32  14063.93
2  11/16/2023    14113.67  14066.88  14130.45  14033.79
3  11/15/2023    14103.84  14147.27  14194.36  14060.70
4  11/14/2023    14094.38  14015.37  14124.06  14003.14

In [4]:
df.shape

(2536, 5)

In [5]:
df.head()
see=np.array([])
for i in range(0,2535):
    change=(((df.iloc[i]["Close/Last"]-df.iloc[i+1]["Close/Last"])/df.iloc[i+1]["Close/Last"])*100)
    see=np.append(see,change)

In [6]:
df.drop(df.tail(1).index,inplace=True)

In [7]:
df["change"]=see

In [8]:
df.head()

df.shape

(2535, 6)

In [9]:
win=0
lose=0
target=0
winp=0
losep=0
if(df.iloc[2534]["change"]>0):
    target=1
else:
    target=0
arr=[]
count=0
for i in range(2533,-1,-1):
    count=count+1
    if(count==251):
        see=[winp,losep]
        arr.append(see)
        count=0
        winp=0
        losep=0
    if(target==0):
        if(df.iloc[i]["change"]>0):
            target=1
    else:
        if(df.iloc[i]["change"]>0):
            win=win+1
            winp=winp+df.iloc[i]["change"]
            target=1
        else:
            lose=lose+1
            losep=losep+df.iloc[i]["change"]
            target=0
print("Number of days you won: ",win)
print("Number of days you lose: ",lose)
print("Won amount: ",winp)
print("Loss amount: ",losep)
print(arr)
for i in arr:
    print(i[0]+i[1])

Number of days you won:  740
Number of days you lose:  651
Won amount:  9.99729855583506
Loss amount:  -3.8421833400174914
[[43.678857288523645, -37.269821742038104], [44.25027134387175, -37.260840222128024], [42.9867713255086, -52.67637028958315], [38.33954013219567, -29.699631554633932], [41.08565808604608, -43.47114104266769], [59.51564689892401, -48.45300998169541], [85.76835549985026, -96.55680200003866], [58.99557676937103, -55.11304988802676], [83.00239920971403, -104.91900994987056], [65.36026044693348, -55.47366539697056]]
6.409035546485541
6.989431121743728
-9.689598964074548
8.63990857756174
-2.3854829566216083
11.062636917228602
-10.7884465001884
3.882526881344269
-21.91661074015653
9.88659504996292